.login{
    text-align: center;
    margin-top: 25px;
    
}
.login h1{
    margin-top: 25px;
    font-weight:bold;
    margin-bottom: 15px;
}
.nhap{
    padding-left: 14px;
    font-size: 17px;
    padding-bottom: 7px;
}
.tk{
    font-size:18px;
    font-weight: 700;
}
.okk{
    color: black;
    width: 100%;
    font-weight: bold;
}
.menu{
    color: black;
    width: 32%;
    border: 1px solid #00ff65;
    border-radius: 10px;
    outline: none;
}
.mau{
   --ion-background-color: #e1f0fa;
}